.view {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 86px;
  left: 6px;
  height: max-content;
  width: calc(100% - 12px);
  transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
}
.view.animation {
  transform: scaleX(0.975);
  opacity: 0;
  bottom: 98px;
  -webkit-transform: scaleX(0.975);
  -moz-transform: scaleX(0.975);
  -ms-transform: scaleX(0.975);
  -o-transform: scaleX(0.975);
}

/* button */
.view > div.left {
  display: flex;
  flex-direction: row;
}
.view > div.right {
  display: flex;
  flex-direction: row-reverse;
}

.view > div > button {
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}
.view > div.left > button {
  margin-right: 6px;
}

.view > div.right > button {
  margin-left: 6px;
}
.view > div > button {
  display: flex;
  justify-content: center;
  align-items: center;
  right: calc(12px);
  bottom: 92px;
  height: 42px;
  padding: 0 14px;
  font-size: 1rem;
  font-weight: 500;
  color: #e0e9f6;
  background: #3e71c2;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

@media (min-width: 823px) {
  .view {
    left: 18px;
    bottom: 18px;
    width: calc(100% - 36px);
  }
  .view.animation {
    transform: scaleX(0.975);
    opacity: 0;
    bottom: 36px;
    -webkit-transform: scaleX(0.975);
    -moz-transform: scaleX(0.975);
    -ms-transform: scaleX(0.975);
    -o-transform: scaleX(0.975);
  }
  .view > div > button {
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
  }
}
@media (min-width: 991px) {
  .view {
    width: calc(100% - 36px);
  }
}
