.pageli {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.pageli > div.block {
  display: flex;
  align-items: center;
  height: 100%;
}

.pageli > div.block.title p {
  min-width: max-content;
  padding: 0 12px;
  font-size: 1.2rem;
  font-weight: 700;
}

.pageli.dark > div.block.title p {
  color: #ffffffb1;
}

.pageli > .block > button {
  font-size: 1rem;
  height: 100%;
  width: 42px;
  background: var(--main-light);
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}
.pageli.dark > .block > button {
  background: #ffffff0f;
  color: #ffffff7f;
}
.pageli.dark > .block > button:hover {
  background: #ffffff1f;
}
