@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
  #photoPreview {
    -webkit-backdrop-filter: saturate(180%) blur(0px);
    backdrop-filter: saturate(180%) blur(0px);
  }
  #photoPreview.open {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
}
#photoPreview {
  z-index: 9000;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 0vh;
  width: 100vw;
  background: none;
  pointer-events: none;
  transition: 0.5s cubic-bezier(0.5, 0, 0.3, 1), top 0s, height 0s;
  -webkit-transition: 0.5s cubic-bezier(0.5, 0, 0.3, 1), top 0s, height 0s;
  -moz-transition: 0.5s cubic-bezier(0.5, 0, 0.3, 1), top 0s, height 0s;
  -ms-transition: 0.5s cubic-bezier(0.5, 0, 0.3, 1), top 0s, height 0s;
  -o-transition: 0.5s cubic-bezier(0.5, 0, 0.3, 1), top 0s, height 0s;
}
#photoPreview.open {
  z-index: 9000;
  opacity: 1;
  height: 100vh;
  pointer-events: all;
  /* background: #ffffff3f; */
}
#photoPreview.dark {
  background: none;
}
#photoPreview.dark.open {
  /* background: #0000003f; */
}

#photoPreview .photoView {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 96px);
  width: 100%;
  /* overflow: hidden; */
}
#photoPreview .photoView img {
  z-index: 10;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 95%;
  box-shadow: 0 3px 50px #0000002f;
  user-select: none;
  pointer-events: stroke;
  opacity: 0;
  transform: translate(0, 0) scale(0.75);
  -webkit-transform: translate(0, 0) scale(0.75);
  -moz-transform: translate(0, 0) scale(0.75);
  -ms-transform: translate(0, 0) scale(0.75);
  -o-transform: translate(0, 0) scale(0.75);
  transition: 0.5s cubic-bezier(0.5, 0, 0.3, 1);
  -webkit-transition: 0.5s cubic-bezier(0.5, 0, 0.3, 1);
  -moz-transition: 0.5s cubic-bezier(0.5, 0, 0.3, 1);
  -ms-transition: 0.5s cubic-bezier(0.5, 0, 0.3, 1);
  -o-transition: 0.5s cubic-bezier(0.5, 0, 0.3, 1);
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}
#photoPreview.open .photoView img {
  opacity: 1;
  transform: translate(0, 0) scale(1);
  -webkit-transform: translate(0, 0) scale(1);
  -moz-transform: translate(0, 0) scale(1);
  -ms-transform: translate(0, 0) scale(1);
  -o-transform: translate(0, 0) scale(1);
}
#photoPreview.dark .photoView img {
  box-shadow: 0 3px 50px #ffffff13;
}
#photoPreview .photoMask {
  display: none;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #00000000;
}
#photoPreview.open .photoMask {
  display: block;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #00000000;
}
