@media (min-width: 823px) {
  .main {
    padding-bottom: 12px;
  }
}
.main > :global(.view) {
  flex-direction: column;
}
.test {
  color: #50c477;
}

/* 聊天種類標題 */
.main h3 {
  margin: 24px 0 0 12px;
  font-size: 1.2rem;
}
.main h3:nth-child(n + 3) {
  opacity: 0.25;
}
.main:global(.dark) h3 {
  color: #f1f1f1;
}

/* 聊天種類區塊 */
.main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6px 0 12px 0;
  width: 100%;
  max-width: 100%;
}
.main section:nth-child(n + 3) {
  opacity: 0.25;
}
.main section > div.chatlist_block {
  padding: 12px 15px;
  margin: 6px 0;
  height: 48px;
  min-width: calc(100% - 24px);
  max-width: calc(100% - 24px);
  background: #0000000f;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}

.main:global(.dark) section > div.chatlist_block {
  background: #ffffff13;
}
:global(.dark) div.chatlist_block > div > p {
  color: #d1d1d1;
}

@media (min-width: 823px) {
  .main h3:not(:first-child) {
    margin: 24px 0 0 12px;
    font-size: 1.2rem;
  }
  .main section {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main section > div.chatlist_block {
    margin: 12px 6px 0 0;
    min-width: calc(50% - 6px);
    max-width: calc(50% - 6px);
  }

  .main section > div.chatlist_block:nth-child(even) {
    margin: 6px 0 0 6px;
  }
}
