@import "PopupPage_dark.module.scss";

.container {
  z-index: 8000;
  position: absolute;
  padding-top: 48px;
  bottom: 24px;
  left: 50%;
  width: 100%;
  max-width: 720px;
  height: calc(100% - 48px - 60px);
  background-color: var(--main-light);
  box-shadow: 0 0 70px 0 #0000000f, 0 0 40px 0 #0000000f, 0 0 10px 0 #00000013;
  overflow: hidden;

  &.animation {
    opacity: 0;
    bottom: -70vh;
    transform: translateX(-50%) scale(0.8);
    -webkit-transform: translateX(-50%) scale(0.8);
    -moz-transform: translateX(-50%) scale(0.8);
    -ms-transform: translateX(-50%) scale(0.8);
    -o-transform: translateX(-50%) scale(0.8);

    @media (max-width: 823px) {
      bottom: -30vh;
      transform: translateX(-50%) scale(1);
      -webkit-transform: translateX(-50%) scale(1);
      -moz-transform: translateX(-50%) scale(1);
      -ms-transform: translateX(-50%) scale(1);
      -o-transform: translateX(-50%) scale(1);
    }
  }

  // &::before {
  //   z-index: -1;
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: #fff;
  // }

  > div.page_title {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 9px 12px 9px 9px;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: var(--theme-light-L2);
    // border-bottom: 3px solid var(--theme-light-L2);

    @media (max-width: 823px) {
      background-color: var(--theme-light);
    }

    > button {
      margin-right: 12px;
      height: 100%;
      width: 30px;
      font-size: 1rem;
      background-color: #ffffff3f;
      @media (max-width: 823px) {
        background-color: #ffffff6f;
      }

      &:hover {
        background-color: #ffffff6f;
        @media (max-width: 823px) {
          background-color: #ffffff9f;
        }
      }

      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    > p {
      color: #000000d1;
      font-size: 1rem;
      font-weight: 700;
    }
  }
  > div.view {
    padding: 12px;
    height: 100%;
    width: 100%;
    background-color: var(--main-light);

    @media (min-width: 823px) {
      padding: 24px;
    }
  }

  @media (max-width: 823px) {
    bottom: 80px;
    height: calc(100% - 80px - 54px);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  @media (min-width: 823px) {
    padding-top: 48px;
  }
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.blur {
  z-index: 7990;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff5f;
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);

  &.animation {
    background-color: #ffffff00;
    -webkit-backdrop-filter: saturate(180%) blur(0px);
    backdrop-filter: saturate(180%) blur(0px);
  }

  transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
